<div class="value-proposition">
	<h1>Connect Through Creative Stories</h1>
	<h2>Make, Learn, Hack through the most inspiring creative projects in the world.</h2>
</div>
<h2>Projects & Makers</h2>
<p>Know the stories, meet the makers and enjoy!</p>
<div class="project-thumbnail">
	<div class="black-box"></div>
	<h2>Awesome project</h2>
	<p>A brief description about this project and why it is amazing</p>
	<h3>Rodrigo Tello</h3>
	<h3>Alberto Sáenz</h3>
</div>

<div class="project-thumbnail">
	<div class="black-box"></div>
	<h2>Awesome project (coming soon)</h2>
	<p>A brief description about this project and why it is amazing</p>
	<h3>Rodrigo Tello</h3>
	<h3>Alberto Sáenz</h3>
</div>