<div class="project-cover">
	<img src="http://38.media.tumblr.com/b52faa97279af96f8aa1c80d75a45707/tumblr_n4efdyyCNB1st5lhmo1_1280.jpg">
	<div class="project-cover-title">
		<span>
			<h2>The Awesome Project Title</h2>
			<p>A brief description about this project and why it is amazing</p>
			<h3>Rodrigo Tello</h3>
			<h3>Alberto Sáenz</h3>
		</span>
	</div>
</div>
<div class="text-post-wrapper">
	<div class="text-post">
		<h2>The Inspiration</h2>
		<p>Here comes the text that first descirbes the way the inspiration came. I was sitting under an apple tree when suddenly, boom, an apple fell on me and all the inspiration was suddenly clear!</p>
	</div>
	<div class="text-post">
		<h2>The A-ha! Moment</h2>
		<p>Here it goes a text of how I started to figured out the project, how I was going to start, what were going to be the constraints and all that kind of shit.</p>
	</div>
	<div class="text-post">
		<h2>The Making Time</h2>
		<p>Here is another text where I'm going to start explaining how all this have worked for me. How I started by sketching the idea, then using a hammer and glue</p>
	</div>
</div>
<div class="gallery">
	<div class="gallery-caption">
		<h2>Inspiration Gallery</h2>
		<p>Here's a brief collection of the inspiration gallery</p>
	</div>
	<img src="http://38.media.tumblr.com/bd48bceb66dd3d838f36b3436c0419f0/tumblr_mqbai1ytbB1s9573co1_1280.png">
	<img src="http://31.media.tumblr.com/394562928e8f6c0dd9a8a8f090634292/tumblr_mqbahfNlOJ1s9573co1_1280.png">
	<img src="http://37.media.tumblr.com/2ba62062262d0ccda5b4fa67eb6a1b3a/tumblr_mqbah1VlVK1s9573co1_1280.png">
	<img src="http://38.media.tumblr.com/78975245a30c6050b705f1c652ff855d/tumblr_mqbagi6HZc1s9573co1_1280.png">
	<img src="http://37.media.tumblr.com/a44dba7488f49611535d4a6174e72f85/tumblr_mqbafvXH5z1s9573co1_1280.png">
	<img src="http://31.media.tumblr.com/7587ce71f4d38bcac3b86ca80c470ad4/tumblr_mqbafe305V1s9573co1_1280.png">
	<img src="http://38.media.tumblr.com/71b8cd40c35bfe85e4eae9148d0c77f2/tumblr_mqbaeleQxS1s9573co1_1280.png">
	<img src="http://37.media.tumblr.com/9c2cedde35d94f62f7dba51cfcb94b9b/tumblr_mqbadwrQmr1s9573co1_1280.png">
	<img src="http://38.media.tumblr.com/44b806df341d0c0ab14b6b4c1edc7d26/tumblr_mqbaddv30l1s9573co1_1280.png">
	<img src="http://31.media.tumblr.com/eaf2b35b47d0a4bb938c339075fdd605/tumblr_mqbacuJiDi1s9573co1_1280.png">
	<img src="http://38.media.tumblr.com/bd48bceb66dd3d838f36b3436c0419f0/tumblr_mqbai1ytbB1s9573co1_1280.png">
</div>
<div class="quote-post">
	<p>"Lesson 1: Never forget to press Ctrl+S"</p>	
</div>
<div class="tutorial">
	<h2>Tutorials</h2>
	<ul>
		<li>1. do some shit</li>
		<li>2. do some more shit</li>
		<li>3. do some more shit</li>
		<li>4. do some final shit</li>
	</ul>
</div>
<div class="data-wrapper">
	<div class="files-box">
		<ul><h2>Files</h2>
			<p>Here are some of the files.</p>
			<li>illustrator.ai</li>
			<li>photoshop.psd</li>
			<li>high_res_images.jpg</li>
			<li>tools.zip</li>
		</ul>
	</div>
	<div class="references-box">
		<h2>References</h2>
		<h4>Here are some links and references that could be usefull</h4>
		<ul>
			<li>
				<h4><a href="http://rodrigotello.me">Rodrigo Tello</a></h4>
				<p>Of course I'm gonna use my own website as a reference, since I'm my own inspiration and I think my work is very cool and fuck yeah.<h4>
			</li>
			<li>
				<h4><a href="http://gomeztello.com">Alberto Sáenz</a></h4>
				<p>Alberto is the cofounder of Funkalab and of course he makes really good things for and in the web.<h4>
			</li>
			<li>
				<h4><a href="http://frankchimero.com/talks/designing-in-the-borderlands/transcript/">Designing in the Borderlands</a></h4>
				<p>A personal view on generalists and trans-media design by Frank Chimero. He's one of the smartest guys in the design world. Always sharp as a knife.<h4>
			</li>
			<li><h4><a href="https://www.youtube.com/watch?v=bZRuGGXAxew">Homo Modernus, Tractatus Philosophicus</a></h4>
				<p>Here comes the caption of the link and why it's important.<h4>
			</li>
		</ul>
	</div>
</div>
