<div class="project-thumbnail">
	<div class="black-box"></div>
	<h2>Awesome project</h2>
	<p>A brief description about this project and why it is amazing</p>
	<h3>Rodrigo Tello</h3>
	<h3>Alberto Sáenz</h3>
</div>

<h4>The Story</h4>
	<p>Everything began with a beautiful story of how the product was created. First started with the inspiration. Then we started building a prototype and suddenly we had a success story.</p>
<h4>
<a href="#" class="buy-button">Get the creative story</a>
<p><small>Get the full story from this creator and keep supporting his work</small></p>