<div class="footer">
	<small>
		App by Funkalab © 2014
		<a href="http://facebook.com/funkalab">Facebook</a>
		<a href="http://twitter.com/funkalab">Twitter</a>
		<a href="mailto:hello@funkalab.com">Email</a>
	</small>
</div>