<div class="nav-bar">
	<!--div class="logo"-->
		<strong>Noto<strong>
	<!--/div-->
	<div class="nav-bar-menu">
		<%= link_to "Home", root_path %>
		<%= link_to "What is this?", about_path %>
		<%= link_to "Register here", register_path %>
	</div>
</div>