<div class="nav-bar">
	<div class="nav-bar-menu">
		<%= link_to "App", root_path, class: "logo" %>
		<%= link_to "Home", root_path %>
		<%= link_to "What is this?", about_path %>
		<%= link_to "Register here", register_path %>
	</div>
</div>